<section id="about" class="about-section">
    <div class="container-about">
        <div class="row align-items-center justify-content-between">

            <div class="col-md-4 text-center image-container">
                <div class="position-relative d-inline-block">
                    <div class="gold-frame"></div>
                    <img src="/marci-metzger-homepage-redesign/asset/marci-portrait.webp" class="about-img img-fluid"
                        alt="Marci Portrait">
                </div>
            </div>

            <div class="col-md-8 mb-4 mb-md-0">
                <h2 class="gold-text title mb-5">
                    Marci J Metzger, a realtor for nearly 30 years
                </h2>

                <p class="paragraph-2 light-blue-text mb-5">
                    Marci was a REALTOR, then licensed Broker, in Washington State.
                    Now, she is enjoying the sunshine, and helping clients in Southern Nevada.
                    Having helped buyers and sellers in many markets since 1995, she is a wealth of knowledge.
                </p>

                <div class="row g-3 mb-3">

                    <div class="col-md-3">
                        <a href="https://marcimetzger.com/about-us" class="button paragraph-2 gold-text">
                            About Marci
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="#search" class="button paragraph-2 gold-text">
                            Search Listings
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="#contact" class="button paragraph-2 gold-text">
                            Contact Marci
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>