<section id="alliance" class="alliance-section">
    <div class="text-center">
        <h1 class="title mb-5 pb-5">Affiliations & Credentials</h1>
        <div class="affi-logo-wrapper mb-5 pb-5">
            <div class="affi-logo" id="affiLogo">
                <img src="asset/ridgeLogo.webp" alt="">
                <img src="asset/equalLogo.webp" alt="">
                <img src="asset/realtorLogo.webp" alt="">
                <img src="asset/CoCLogo.webp" alt="">
            </div>
        </div>
    </div>
</section>