<section id="alliance" class="alliance-section">
    <div class="text-center">

        <h1 class="title mb-5 pb-5">Affiliations & Credentials</h1>

        <div class="affi-logo-wrapper mb-5 pb-5">
            <div class="affi-logo" id="affiLogo">
                <img src="/marci-metzger-homepage-redesign/asset/ridgeLogo.webp" alt="Ridge Realty Logo">

                <img src="/marci-metzger-homepage-redesign/asset/equalLogo.webp" alt="Equal Housing Opportunity Logo">

                <img src="/marci-metzger-homepage-redesign/asset/realtorLogo.webp" alt="REALTOR Logo">

                <img src="/marci-metzger-homepage-redesign/asset/CoCLogo.webp" alt="Chamber of Commerce Logo">
            </div>
        </div>

    </div>
</section>