<footer class="pt-5">
    <!-- FULL WIDTH -->
    <div class="container-fluid px-5">

        <!-- CENTERED footer-logo + TITLE -->
        <div class="d-flex justify-content-center align-items-center text-center mb-5">
            <img src="/asset/logo.png" alt="footer-logo" class="footer-footer-logo me-3">

            <h5 class="paragraph-2 fw-bold m-0 gold-text" style="letter-spacing:1px;">
                MARCI METZGER HOMES - THE RIDGE REALTY GROUP
            </h5>
        </div>

        <!-- LEFT & RIGHT CONTENT ROW -->
        <div class="row justify-content-between align-items-start">

            <!-- LEFT -->
            <div class="col-md-5">
                <p class="mb-3 paragraph-2">
                    Helping buyers and sellers since 1995, with decades of real-estate expertise.<br>
                    A wealth of knowledge for every market.
                </p>

                <div class="social-icons mt-3">
                    <a href="https://www.facebook.com/MarciHomes/"><i
                            class="footer-logo fab fa-facebook fs-5 me-3"></i></a>
                    <a href="https://www.instagram.com/marciandlauren_nvrealtors/"><i
                            class="footer-logo fab fa-instagram fs-5 me-3"></i></a>
                    <a href="https://www.linkedin.com/in/marci-metzger-30642496/"><i
                            class="footer-logo fab fa-linkedin fs-5 me-3"></i></a>
                    <a href="https://www.yelp.com/biz/marci-metzger-the-ridge-realty-pahrump"><i
                            class="footer-logo fab fa-yelp fs-5 me-3"></i></a>
                </div>
            </div>

            <!-- RIGHT -->
            <div class="col-md-3 mt-4 mt-md-0">
                <p class="mb-3 paragraph-2">
                    <i class="fas fa-location-dot me-2"></i>
                    3190 HW-160, Suite F, Pahrump, <br>Nevada 89048, United States
                </p>

                <a href="tel:2069196886" class="paragraph-2 blue-text text-decoration-none">
                    <i class="fas fa-phone me-2"></i>
                    (206) 919-6886
                </a>
            </div>
        </div>

        <hr class="mt-4">

        <!-- BOTTOM -->
        <div class="text-center paragraph-2 light-blue-text pb-3">
            Copyright © 2023 Marci METZGER Homes - All Rights Reserved <br>
            This website is used for the assessment as a Web Builder for Luxury Presence
        </div>

    </div>
</footer>