<nav class="navbar navbar-expand-lg bg-white py-4">
    <div class="container">

        <!-- Logo + Brand -->
        <a class="navbar-brand" href="https://marci-metzger-redesign.netlify.app/">
            <img src="/asset/logo.png" alt="Logo" class="logo">
            <div class="logo-link-text">
                <span class="logo-title fw-bold text-uppercase">Marci Metzger</span>
                <span class="logo-line"></span>
                <span class="logo-subtitle">
                    <p>Homes</p>
                </span>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
            aria-controls="navMenu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navMenu">
            <ul class="navbar-nav align-items-center body-font">
                <li class="nav-item">
                    <a class="nav-link nav-underline active px-3" href="index.html">Home <span
                            class="nav-line"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-underline px-3" href="#">Listings <span class="nav-line"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-underline px-3" href="#">About Us <span class="nav-line"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-underline px-3" href="#">Contact Us <span class="nav-line"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>